<div class="contenedorData">
    <div class="titulo">
        <h2 class="txttitulo">Informacion Presonal</h2>
        <p class="subtitulo">Gestiona tu perfil y tu cuenta</p>
    </div>
    <div class="datos" >
        <h3>Informacion Personal</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ducimus.</p>
        <div class="texto"><h4>NOMBRES</h4><p>{{user.nombre}}</p></div>
        <div class="texto"><h4>APELLIDOS</h4><p>{{user.apellido}}</p></div>
        <div class="texto"><h4>CORREO ELECTRONICO</h4><p>{{user.correo}}</p></div>
        <div class="texto"><h4>NOMBRE DE USUARIO</h4><p></p>{{user.usuario}}</div>   
        <div class="texto"><h4>CONTRASEÑA</h4><p>{{user.contrasenia}}</p></div>   
    </div>
    <div class="cont-dato">
        <div class="dato2">
            <div class="info">
                <h4>Gestionar Perfil</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, quaerat.</p>
            </div>
            <div class="entrada"><input type="button" value="Gestionar"></div>
        </div>
        <div class="espacio"></div>
        <div class="dato2">
            <div class="info">
                <h4>Registro de Compras</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, quaerat.</p>
            </div>
            <div class="entrada"><input type="button" value="Ver Registros"></div>
        </div>  
    </div>
</div>
