<!-- Footer -->
<div class="footer">
    <div class="box__footer">
        <ul class="list__footer">
            <li class="list__footer-item list--title">
                <a href="#" class="list__footer-link">Servicio al cliente</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Centro de ayuda</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Seguimiento de pedido</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Devolver un artículo</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Politica de devoluciones</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Privacidad y seguridad</a>
            </li>
        </ul>
        <ul class="list__footer">
            <li class="list__footer-item list--title">
                <a href="#" class="list__footer-link">Mi cuenta</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link"
                    >Iniciar sesión / Registrarse</a
                >
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Historial de pedidos</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Directorio</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link"
                    >Notificaciones automaticas</a
                >
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link"
                    >Historial de devoluciones</a
                >
            </li>
        </ul>
        <ul class="list__footer">
            <li class="list__footer-item list--title">
                <a href="#" class="list__footer-link"
                    >Información de la empresa</a
                >
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Sobre nosotros</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Premios / Rankings</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Horarios</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Carreras</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Testimonios</a>
            </li>
        </ul>
        <ul class="list__footer">
            <li class="list__footer-item list--title">
                <a href="#" class="list__footer-link">Herramientas y recursos</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Logística 3PL</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Afiliados</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Mapa del sitio</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Comprar por marca</a>
            </li>
            <li class="list__footer-item">
                <a href="#" class="list__footer-link">Reembolsos</a>
            </li>
        </ul>
    </div>
    <ul class="social">
        <li class="social__item">
            <a href="#" class="social__link"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="social__item">
            <a href="#" class="social__link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="social__item">
            <a href="#" class="social__link"
                ><i class="fab fa-instagram"></i
            ></a>
        </li>
        <li class="social__item">
            <a href="#" class="social__link"><i class="fas fa-envelope"></i></a>
        </li>
    </ul>
</div>
